<!-- Chat dialog -->
<div class="w-3/4 bottom-3 bg-white text-blue-500 justify-between flex flex-col h-[calc(100%-1rem)] max-h-[1000px]">
  <% # as long as you're here, some of the above tailwind height customs are pretty cool. %>
  
  <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200">
    <div class="relative flex items-center space-x-4">
      <div class="flex flex-col leading-tight">
        <span class="text-lg text-gray-600">Chat topic:</span>
        <div class="text-2xl mt-1 flex items-center">
          <span class="text-gray-700 mr-3"><%= @chat.title %></span>
        </div>
      </div>
    </div>
    <div class="flex items-center space-x-2">
      <%= link_to chats_path, class:"inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none" do %>
        <%= heroicon "x-mark" %>
      <% end %>
    </div>
  </div>

  <!-- the messages in the chat -->
  <div data-controller="auto-scroll" id="messages" class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
    <%= turbo_stream_from @chat %>

    <% @messages.each do |msg| %>
      <% cache msg do %>
        <% if msg.is_bot? %>
          <%= render partial: "messages/message_left", locals: { text: msg.text, chat: @chat } %>
        <% else %>
          <%= render partial: "messages/message_right", locals: { text: msg.text, chat: @chat } %>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <!-- new message input form -->
  <%= turbo_frame_tag "new_message_form" do %>
    <%= render partial: 'message_submit' %>
  <% end %>
</div>

<div class="w-1/4 flex flex-col p-8">  
  <%= link_to "Edit this chat", edit_chat_path(@chat), class: "block w-full mx-auto text-center mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"%>
  <%= button_to "Destroy this chat", chat_path(@chat), method: :delete, class: "w-full text-center mx-auto mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  <%= link_to "Back to chats", chats_path, class: "block w-full text-center mx-auto mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>